@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url(../../public/Pictures/group22.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size: 1500px 500px;
}
.dustom-img{
    background-image: url(../../public/Pictures/group.jpg);
    background-repeat: no-repeat;
    background-position:left;
    background-attachment:scroll;
    background-size: 800px 750px;
    
}
.lustom-img{
    background-image: url(../../public/Pictures/8.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-attachment:scroll;
    background-size:800px 750px; 
}